@{
    ViewData["Title"] = ViewBag.Service;
}
<div>
    <div class="container">
        <div class="breadcrumb-wrap">
            <a href="@(RouteConstant.HOME)">Home</a>
            <span>&#10095;</span>
            <p>@(ViewBag.Service)</p>

        </div>
        <section class="login sectiongap">
            <div class="container">
                <div class="row no-gutters justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="left-log">
                            <img src="/images/logo-login.jpg">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="form-wrap">
                            <h5>Login</h5>
                            <form method="POST" id="frmLogin" asp-action="Login" asp-controller="Auth" class="mb-1">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtUsername" placeholder="Enter Username..." name="Username" rules="required">
                                    <span class="text-danger text-sm-center form-message" hidden></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Enter Password" name="Password" rules="required|min:8">
                                    <span class="text-danger text-sm-center form-message" hidden></span>
                                </div>

                                <div class="form-group">
                                    <button id="btnLogin" type="submit" class="kap-btn kap-btn-primary w-100" asp-route-returnUrl="@(ViewBag.returnUrl)">Login</button>
                                </div>
                            </form>
                            <form asp-action="ExternalLogin" asp-route-returnUrl="@ViewBag.ReturnUrl" method="POST">
                                <div class="d-flex align-items-center justify-content-between">
                                    <p>Other login methods</p>
                                    <div class="d-flex align-items-center justify-content-end" style="column-gap: 4px;">
                                        @foreach (var provider in ViewBag.ExternalLogins!)
                                        {
                                            <div>
                                                <button type="submit" class="kap-btn kap-btn-solid btn-sm" name="provider" value="@provider.Name">@provider.DisplayName +</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </form>
                            <p class="text-center mb-0">Don't have an Account? <a href="@(RouteConstant.REGISTER)?Service=Register">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            function init() {
                Validator("#frmLogin");
            }
            init();
        });
    </script>
}