@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = ViewBag.Service;
}
<div>
    <div class="container">
        <div class="breadcrumb-wrap">
            <a href="@(RouteConstant.HOME)">Home</a>
            <span>&#10095;</span>
            <p>REGISTER</p>

        </div>
        <section class="login sectiongap">
            <div class="container">
                <div class="row no-gutters justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="left-log">
                            <img src="/images/logo-login.jpg">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="form-wrap">
                            <h5>Register</h5>
                            <form method="POST" id="frmRegister" asp-action="Register">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtFirstName" placeholder="Enter Your First Name..." name="FirstName">
                                    <span class="text-danger text-sm-center form-message" hidden></span>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtLastName" placeholder="Enter Your Last Name" name="LastName">
                                    <span class="text-danger text-sm-center form-message" hidden></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtUsername" placeholder="Enter Your UserName..." name="Username" rules="required">
                                    <span class="text-danger text-sm-center form-message" hidden></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtEmail" placeholder="Enter Your Email..." name="Email" rules="required|email">
                                    <span class="text-danger text-sm-center form-message" hidden></span>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtPhoneNumber" placeholder="Enter Your Phone Nubmer..." name="PhoneNumber">
                                    <span class="text-danger text-sm-center form-message" hidden></span>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="txtPassword" placeholder="Enter Your Password..." name="Password" rules="required|min:8">
                                    <span class="text-danger text-sm-center form-message" hidden></span>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" id="txtConfirmPassowrd" placeholder="Enter Confirm Password..." name="ConfirmPassword" rules="required|confirmPassword">
                                    <span class="text-danger text-sm-center form-message" hidden></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="btnRegister" class="btn btn-primary">Register</button>
                                    <span class="text-danger text-sm-center form-message" hidden></span>
                                </div>
                            </form>
                            <p class="text-center">Back to Login? <a href="@(RouteConstant.LOGIN)">Login</a></p>
                            <form asp-action="ExternalLogin" asp-route-returnUrl="@ViewBag.ReturnUrl" method="POST">
                                <div class="d-flex align-items-center justify-content-between">
                                    <p>Other login methods</p>
                                    <div class="d-flex align-items-center justify-content-end" style="column-gap: 4px;">
                                        @foreach (var provider in ViewBag.ExternalLogins!)
                                        {
                                            <div>
                                                <button type="submit" class="kap-btn kap-btn-solid btn-sm" name="provider" value="@provider.Name">@provider.DisplayName +</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function init() {
                Validator("#frmRegister");
            }
            init();
        });
    </script>
}