@model List<Series>
@{
    ReqQuerySearchSeries searchValue = ViewBag.SearchValue ?? new ReqQuerySearchSeries();
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form asp-action="Index" method="GET" id="frmSearchSeries">
                <input type="text" name="menuKey" value="CM" hidden/>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="text-primary">Search</h3>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="txtSName">Name</label>
                            <input type="text" id="txtSName" name="Name" class="form-control" value="@(searchValue.Name)" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="txtSVolumns">Volumns</label>
                            <input type="number" id="txtSVolumns" name="Volumns" class="form-control" value="@(searchValue.Volumns)" />
                        </div>
                    </div>
                    <div class="col-lg-12 mt-2">
                        <div class="d-flex justify-content-end">
                            <div>
                                <button class="btn btn-info text-white"><i class="bi bi-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12 mt-4">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-primary">List Series</h3>
                </div>
                <div class="col-lg-12">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Volumns</th>
                                <th>Created Date</th>
                                <th>Updated Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @(i+1)
                                    </td>
                                    <td>
                                        @(Model[i].Name)
                                    </td>
                                    <td>
                                        @(Model[i].Volumns)
                                    </td>
                                    <td>
                                        @(string.Format("{0:dd/MM/yyyy}", Model[i].CreatedAt))
                                    </td>
                                    <td>
                                        @(string.Format("{0:dd/MM/yyyy}", Model[i].UpdatedAt))
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center" style="column-gap: 4px;">
                                            <button class="btn btn-danger btn-sm btnDeleteSeries" data-seriesID="@(Model[i].ID)"><i class="bi bi-trash"></i></button>
                                            <a href="@(RouteConstant.ADMIN_SERIES_MODIFY)?menuKey=CM&seriesID=@(Model[i].ID)" class="btn btn-info btn-sm text-white"><i class="bi bi-pencil-square"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            const handleClickDeleteSeries = () => {
                $(".btnDeleteSeries").each(function () {
                    $(this).on("click", function () {
                        Swal.fire({
                            title: "Are you sure?",
                            text: "You will not be able to recover this data!!!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes, delete it!"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var seriesID = $(this).attr("data-seriesID");
                                handleAjax(`/Admin/Series/DeleteSeriesByIdAPI?seriesID=${seriesID}`, {}, (res) => {
                                    if (res.success) {
                                        Swal.fire({
                                            title: "Deleted!",
                                            text: "Deleted Successfully",
                                            icon: "success"
                                        }).then((result) => {
                                            location.href = location.href;
                                        });
                                    } else {
                                        Swal.fire({
                                            title: "Error Delete!",
                                            text: "Delete Failed",
                                            icon: "error"
                                        });
                                    }
                                }, { type: "DELETE" });
                            }
                        });
                    });
                });
            };
            function init() {
                handleClickDeleteSeries();
            }

            init();
        });
    </script>
}