<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | BookStoreKAP</title>
    <link rel="shortcut icon" href="/images/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookStoreKAP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="/lib/owl/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/lib/owl/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />

</head>
<body>
    
    <header class="header">
        <section class="header-top">
            <p>BUY BESTSELLERS AT UNBELIEVABLE DISCOUNTS! </p>
            <a href="#">SHOP NOW</a>
        </section>

        <div class="container">
            <nav class="nav">
                <ul class="nav-list">
                    <li>
                        <a href="@(RouteConstant.LOCATION)" class="nav-item"><i class="bi bi-geo-alt"></i> <span>Store Location</span> </a>
                    </li>
                    <li>
                        <a href="@(RouteConstant.ABOUT_US)" class="nav-item">About Us</a>
                    </li>
                    <li>
                        <a href="@(RouteConstant.BLOG)" class="nav-item">Blog</a>
                    </li>
                    <li>
                        <a href="@(RouteConstant.CONTACT_US)" class="nav-item">Contact Us</a>
                    </li>
                </ul>


            </nav>
        </div>

        <div class="container">
            <section class="header-search">
                <div class="header-search-img">
                    <a href="@(RouteConstant.HOME)">
                        <img src="/images/Logo.png" alt="logo" />
                    </a>
                </div>

                <div class="header-search-content-left">
                    <div class="header-search-wrap">
                        <input type="text" name="input" placeholder="Search by author, Publisher, Book type, Category, SKU" />
                        <button class="header-search-btn active"><i class="bi bi-search"></i></button>
                    </div>

                    <div class="header-search-cart">
                        <div class="header-search-wrap-cart-icon">
                            <i class="bi bi-bag"></i>
                            <span>0</span>
                        </div>
                        <a href="@(RouteConstant.CART)" class="header-search-wrap-cart-label" style="color:unset"> CART </a>
                    </div>

                    @if (User.Identity?.IsAuthenticated != null && User.Identity.IsAuthenticated)
                    {
                        <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-end">
                            <div class="dropdown text-end">
                                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="@(User.GetAvatar())" alt="avt" width="32" height="32" class="rounded-circle">
                                </a>
                                <ul class="dropdown-menu text-small" style="">
                                    <li><a class="dropdown-item">Profile</a></li>
                                    <li><a class="dropdown-item" href="@(RouteConstant.LOGOUT)">Sign out</a></li>
                                </ul>
                            </div>
                        </div>
                    }
                    else
                    {
                        <ul class="nav-list">
                            <li>
                                <a href="@(RouteConstant.LOGIN)" class="nav-item text-black">
                                    <i class="bi bi-person nav-icon"></i>
                                    <span>Login</span>
                                </a>
                            </li>
                        </ul>
                    }
                </div>
            </section>
        </div>

    </header>

    <main role="main" class="app">
            @await Component.InvokeAsync("GetTagNavigate")
            @RenderBody()
    </main>
    <hr>
    <footer class="kap-fotter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="wrap-fotter-item">
                        <div class="wrap-fotter-item-search">
                            <p class="fotter-item-title">FIND A STORE</p>
                            <div class="wrap-fotter-search">
                                <input type="text" value="" class="fotter-search" placeholder="Store name, Location, or ZIP Code" />
                                <button class="fotter-btn-search"><i class="bi bi-arrow-right-short"></i></button>
                            </div>
                        </div>
                        <div class="wrap-fotter-item-search">
                            <p class="fotter-item-title">SIGN UP FOR NEWS, AND UPDATES</p>
                            <div class="wrap-fotter-search">
                                <input type="text" value="" class="fotter-search" placeholder="Enter Your Email Address" />
                                <button class="fotter-btn-search"><i class="bi bi-arrow-right-short"></i></button>
                            </div>
                        </div>
                        <p class="fotter-desc">Submit your email address to receive Apeejay Oxford Bookstores Pvt. Ltd offers & updates. You can view Apeejay Oxford Bookstores Pvt. Ltd Privacy Policy here.</p>
                        <div class="wrap-fotter-social">
                            <p>FOLLOW US</p>
                            <div class="wrap-social">
                                <button class="social-item">
                                    <i class="bi bi-facebook"></i>
                                </button>
                                <button class="social-item">
                                    <i class="bi bi-twitter"></i>
                                </button>
                                <button class="social-item">
                                    <i class="bi bi-instagram"></i>
                                </button>
                                <button class="social-item">
                                    <i class="bi bi-youtube"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="wrap-fotter-item">
                        <p class="fotter-item-title">SHOPPING GUIDE</p>
                        <ul class="fotter-list">
                            <li><a class="fotter-item" href="#">Store Locator</a></li>
                            <li><a class="fotter-item" href="#">Return Policy</a></li>
                            <li><a class="fotter-item" href="#">Payments & Shipping</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="wrap-fotter-item">
                        <p class="fotter-item-title">INFORMATION</p>
                        <ul class="fotter-list">
                            <li><a class="fotter-item" href="#">About Us</a></li>
                            <li><a class="fotter-item" href="#">Blog</a></li>
                            <li><a class="fotter-item" href="#">Careers</a></li>
                            <li><a class="fotter-item" href="#">Contact Us</a></li>
                            <li><a class="fotter-item" href="#">Privacy policy</a></li>
                            <li><a class="fotter-item" href="#">Terms & condition</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="wrap-fotter-item">
                        <p class="fotter-item-title">QUICK HELP</p>
                        <ul class="fotter-list">
                            <li><a class="fotter-item" href="#">Help Center</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/owl/js/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/validate.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "700",
                "timeOut": "1500",
                "extendedTimeOut": "700",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            // Hiển thị thông báo từ TempData
            @if (TempData[ToastrConstant.SUCCESS_MSG] != null)
            {
                <text>toastr.success('@(TempData[ToastrConstant.SUCCESS_MSG])');</text>
            }
            @if (TempData[ToastrConstant.ERROR_MSG] != null)
            {
                <text>toastr.error('@(TempData[ToastrConstant.ERROR_MSG])');</text>
            }
            @if (TempData[ToastrConstant.WARN_MSG] != null)
            {
                <text>toastr.error('@(TempData[ToastrConstant.WARN_MSG])');</text>
            }
        });
    </script>
</body>
</html>
