@model Book

@{
    ViewBag.Title = "Modify Product";
    List<Series> series = ViewBag.Series ?? new List<Series>();
    List<Tag> tags = ViewBag.Tags ?? new List<Tag>();
    List<Genre> genres = ViewBag.Genres ?? new List<Genre>();
    List<Guid> selectedGenres = ViewBag.SelectedGenres ?? new List<Guid>();
}
<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <a href="@(RouteConstant.ADMIN_BOOKS)?menuKey=BM" class="btn btn-primary btn-sm"><i class="bi bi-arrow-bar-left"></i> Back</a>
            <h3 class="text-center">Modify Book</h3>
        </div>
        <div class="col-lg-12">
            <form asp-action="Modify" method="POST" id="frmModifyBook" enctype="multipart/form-data">
                <input type="hidden" name="ID" value="@(Model.ID)" />
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="form-group">
                                <label for="imgThumbnail">
                                    <img id="previewThumbnail" src="@(Model.Thumbnail)" width="200" height="200" class="img-thumbnail" />
                                </label>
                                <input type="file" id="imgThumbnail" name="Thumbnail" hidden />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="txtTitle">Title <span class="required text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtTitle" name="Title" value="@(Model.Title)" rules="required"/>
                            <span class="text-danger text-sm-center form-message" hidden></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="txtPublisher">Publisher <span class="required text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtPublisher" name="Publisher" value="@(Model.Publisher)" rules="required"/>
                            <span class="text-danger text-sm-center form-message" hidden></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="txtAuthor">Author <span class="required text-danger">*</span></label>
                            <input type="text" class="form-control" id="txtAuthor" name="Author" value="@(Model.Author)" rules="required"/>
                            <span class="text-danger text-sm-center form-message" hidden></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="txtPublicationYear">Publication Year <span class="required text-danger">*</span></label>
                            <input type="number" class="form-control" id="txtPublicationYear" name="PublicationYear" value="@(Model.PublicationYear)" rules="required|min:4"/>
                            <span class="text-danger text-sm-center form-message" hidden></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="txtPrice">Price($) <span class="required text-danger">*</span></label>
                            <input type="number" class="form-control" id="txtPrice" name="Price"  value="@(Model.Price)" rules="required"/>
                            <span class="text-danger text-sm-center form-message" hidden></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="txtDiscount">Discount($) <span class="required text-danger">*</span></label>
                            <input type="number" class="form-control" id="txtDiscount" name="Discount" value="@(Model.Discount)" rules="required"/>
                            <span class="text-danger text-sm-center form-message" hidden></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="txtQuantity">Quantity <span class="required text-danger">*</span></label>
                            <input type="number" class="form-control" id="txtQuantity" name="Quantity" value="@(Model.Quantity)" rules="required"/>
                            <span class="text-danger text-sm-center form-message" hidden></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="cboSeries">Series <span class="required text-danger">*</span></label>
                            <select class="form-select" id="cboSeries" name="SeriesID">
                                @foreach (var seriesItem in series)
                                {
                                    if (seriesItem.ID == Model.SeriesID)
                                    {

                                        <option value="@(seriesItem.ID)" selected>@(seriesItem.Name)</option>
                                    }
                                    else
                                    {
                                        <option value="@(seriesItem.ID)">@(seriesItem.Name)</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-label" for="cboTag">Tags <span class="required text-danger">*</span></label>
                            <select class="form-select" id="cboTag" name="TagID">
                                @foreach (var tag in tags)
                                {
                                    if (tag.ID == Model.TagID)
                                    {
                                        <option value="@(tag.ID)" selected>@(tag.Name)</option>
                                    }
                                    else
                                    {
                                        <option value="@(tag.ID)">@(tag.Name)</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-2">
                        <div class="form-group">
                            <label class="form-label" for="cboGenre">Genre <span class="required text-danger">*</span></label>
                            <select class="form-control select2" id="cboGenre" name="GenreIds" multiple="multiple">
                                @foreach (var genre in genres)
                                {
                                    bool isSelected = ViewBag.SelectedGenres != null && ((List<Guid>)ViewBag.SelectedGenres).Contains(genre.ID);
                                    if (isSelected)
                                    {
                                        <option value="@(genre.ID)" selected>@(genre.Name)</option>
                                    }
                                    else
                                    {
                                        <option value="@(genre.ID)">@(genre.Name)</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-2">
                        <div class="form-group">
                            <label class="form-label" for="txtSynopsis">Synopsis <span class="required text-danger">*</span></label>
                            <textarea id="txtSynopsis" Name="Synopsis">
                                @(Model.Synopsis)
                            </textarea>
                            <span class="text-danger text-sm-center form-message" hidden></span>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-1">
                        <div class="d-flex justify-content-end">
                            <div>
                                <button class="btn btn-success" id="btnModifyUser">
                                    Save <i class="bi bi-floppy"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {

            const initTinyMCE = () => {
                tinymce.init({
                    selector: 'textarea#txtSynopsis',
                    height: 500,
                    plugins: ['link', 'autolink', 'image', 'searchreplace', 'lists', 'advlist', 'fullscreen', 'table','code'],
                    link_default_target: '_blank',
                    toolbar: 'undo redo | fontfamily fontsize blocks | link image | bold italic underline | forecolor backcolor | table | alignleft aligncenter alignright alignjustify numlist bullist |fullscreen',
                    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
                });
            };


            function init() {
                Validator("#frmModifyBook");
                $("#cboGenre").select2();
                initTinyMCE();
            }
            init();
        });
    </script>
}
