<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | BookStoreKAP</title>
    <link rel="shortcut icon" href="/images/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookStoreKAP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/lib/owl/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/owl/css/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/data-table/datatables.min.css" asp-append-version="true" />
    <link href="~/lib/gijgo/gijgo.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.tiny.cloud/1/vowdupnl2rzb1b2k7m4spwrslnhk7hvzzbsoswo93yxcrh94/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@5/dist/backdrop.css" />
</head>
<body>

    <div class="app">
        <section class="admin-side-bar">
            <div class="admin-side-bar-header">
                <a href="@(RouteConstant.ADMIN)" class="admin-side-bar-logo">
                    <span>Admin KAP</span>
                </a>
            </div>
            <div class="admin-side-bar-content">
                <div class="admin-side-bar-menu">
                    <div class="admin-side-bar-menu-item">
                        <a href="@(RouteConstant.ADMIN)" class="admin-side-bar-menu-item-control">
                            <p><i class="bi bi-speedometer2"></i> <span>Dashboard</span></p>
                        </a>
                    </div>
                </div>
                <div class="admin-side-bar-menu">
                    <p class="admin-side-bar-menu-title">Product</p>
                    <div class="admin-side-bar-menu-item">
                        <a href="#" class="admin-side-bar-menu-item-control" data-menu-key="CM">
                            <p><i class="bi bi-123"></i> <span>Series</span></p>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="admin-side-bar-menu-item-child">
                            <ul class="admin-side-bar-menu-item-child-list">
                                <li>
                                    <a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_SERIES)?menuKey=CM">
                                        <i class="bi bi-circle"></i>
                                        <span class="ml-1">List Series</span>
                                    </a>
                                </li>
                                <li><a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_SERIES_CREATE)?menuKey=CM"><i class="bi bi-circle"></i>Add Series</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="admin-side-bar-menu-item">
                        <a href="#" class="admin-side-bar-menu-item-control" data-menu-key="GM">
                            <p><i class="bi bi-archive"></i> <span>Genres</span></p>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="admin-side-bar-menu-item-child">
                            <ul class="admin-side-bar-menu-item-child-list">
                                <li>
                                    <a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_GENRE)?menuKey=GM">
                                        <i class="bi bi-circle"></i>
                                        <span class="ml-1">List Genres</span>
                                    </a>
                                </li>
                                <li><a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_GENRE_CREATE)?menuKey=GM"><i class="bi bi-circle"></i>Add Genre</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="admin-side-bar-menu-item">
                        <a href="#" class="admin-side-bar-menu-item-control" data-menu-key="TM">
                            <p><i class="bi bi-archive"></i> <span>Tags</span></p>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="admin-side-bar-menu-item-child">
                            <ul class="admin-side-bar-menu-item-child-list">
                                <li>
                                    <a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_TAGS)?menuKey=TM">
                                        <i class="bi bi-circle"></i>
                                        <span class="ml-1">List Tags</span>
                                    </a>
                                </li>
                                <li><a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_TAGS_CREATE)?menuKey=TM"><i class="bi bi-circle"></i>Add Tag</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="admin-side-bar-menu-item">
                        <a href="#" class="admin-side-bar-menu-item-control" data-menu-key="BM">
                            <p><i class="bi bi-book"></i> <span>Books</span></p>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="admin-side-bar-menu-item-child">
                            <ul class="admin-side-bar-menu-item-child-list">
                                <li>
                                    <a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_BOOKS)?menuKey=BM">
                                        <i class="bi bi-circle"></i>
                                        <span class="ml-1">List Books</span>
                                    </a>
                                </li>
                                <li><a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_BOOKS_CREATE)?menuKey=BM"><i class="bi bi-circle"></i>Add Book</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="admin-side-bar-menu">
                    <p class="admin-side-bar-menu-title">Users</p>
                    <div class="admin-side-bar-menu-item">
                        <a href="#" class="admin-side-bar-menu-item-control" data-menu-key="UM">
                            <p><i class="bi bi-people"></i> <span>Users</span></p>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="admin-side-bar-menu-item-child">
                            <ul class="admin-side-bar-menu-item-child-list">
                                <li>
                                    <a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_USERS)?menuKey=UM">
                                        <i class="bi bi-circle"></i>
                                        <span class="ml-1">List Users</span>
                                    </a>
                                </li>
                                <li><a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_USERS_CREATE)?menuKey=UM"><i class="bi bi-circle"></i>Add User</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="admin-side-bar-menu-item">
                        <a href="#" class="admin-side-bar-menu-item-control" data-menu-key="RM">
                            <p><i class="bi bi-shield-lock"></i> <span>Roles</span></p>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="admin-side-bar-menu-item-child">
                            <ul class="admin-side-bar-menu-item-child-list">
                                <li>
                                    <a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_ROLES)?menuKey=RM">
                                        <i class="bi bi-circle"></i>
                                        <span class="ml-1">List Roles</span>
                                    </a>
                                </li>
                                <li><a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_ROLES_CREATE)?menuKey=RM"><i class="bi bi-circle"></i>Add Role</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="admin-side-bar-menu">
                    <p class="admin-side-bar-menu-title">Orders</p>
                    <div class="admin-side-bar-menu-item">
                        <a href="#" class="admin-side-bar-menu-item-control" data-menu-key="OM">
                            <p><i class="bi bi-printer"></i> <span>Reports</span></p>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <div class="admin-side-bar-menu-item-child">
                            <ul class="admin-side-bar-menu-item-child-list">
                                <li>
                                    <a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_SERIES)?menuKey=OM">
                                        <i class="bi bi-circle"></i>
                                        <span class="ml-1">List Reports</span>
                                    </a>
                                </li>
                                <li><a class="admin-side-bar-menu-item-child-item" href="@(RouteConstant.ADMIN_SERIES_CREATE)?menuKey=OM"><i class="bi bi-circle"></i>Create Report</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="admin-side-bar-footer">
            </div>
        </section>
        <div class="wrap-content w-100">
            <header class="p-3 bg-dark text-white">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-end">
                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@(User.GetAvatar())" alt="mdo" width="32" height="32" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small" style="">
                                <li><a class="dropdown-item d-flex align-items-center" style="column-gap:4px" href="@(RouteConstant.HOME)"><i class="bi bi-arrow-bar-left"></i> Back Home</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="@(RouteConstant.LOGOUT)">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                @RenderBody()
            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/owl/js/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/gijgo/gijgo.min.js" type="text/javascript"></script>
    <script src="~/lib/data-table/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@5"></script>
    <script src="~/js/validate.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "700",
                "timeOut": "1500",
                "extendedTimeOut": "700",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            // Hiển thị thông báo từ TempData
            @if (TempData[ToastrConstant.SUCCESS_MSG] != null)
            {
                <text>toastr.success('@(TempData[ToastrConstant.SUCCESS_MSG])');</text>
            }
            @if (TempData[ToastrConstant.ERROR_MSG] != null)
            {
                <text>toastr.error('@(TempData[ToastrConstant.ERROR_MSG])');</text>
            }
            @if (TempData[ToastrConstant.WARN_MSG] != null)
            {
                <text>toastr.error('@(TempData[ToastrConstant.WARN_MSG])');</text>
            }
        });
    </script>
</body>
</html>
