@model List<AccessController>
@{

}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a href="@(RouteConstant.ADMIN_ACCESS_CONTROLLER_REFRESH_LIST)" class="btn btn-warning btn-sm">Refresh List</a>
        </div>
        <div class="col-lg-12 mt-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Controller name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var aController in Model)
                    {
                        <tr>
                            <td>
                                <div class="d-flex align-items-center" style="column-gap: 4px;">
                                    <p>@(aController.Name)</p>
                                    <span class="badge @(aController.AreaName?.ToUpper() == "ADMIN" ? "bg-primary" : aController.AreaName?.ToUpper() == "API" ? "bg-info" : "bg-success")">Area: @(aController.AreaName ?? "Home")</span>
                                </div>
                            </td>
                            <td>
                                <a href="@(RouteConstant.ADMIN_DOMAIN_DOMAINS_BY_ACCESS_CONTROLLER)?accessControllerID=@(aController.ID)" class="btn btn-warning btn-sm"><i class="bi bi-eye"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>