@model BookDetailVM

<div class="all-details">
    <section class="product-details">

        <div class="image-box">
            <img src="@Model.Book.Thumbnail" alt="World's Best Girlfriend">
        </div>
        <div class="details">
            <h1>@Model.Book.Title</h1>
           
            <h5>
                <strong>Book Publisher:</strong>
                @Model.Book.Publisher
            </h5>
            <h5>
                <strong>Book Author: </strong>
                @Model.Book.Author
            </h5>
            <h5>
                <strong>Genre: </strong>
                @foreach(var bookGenre in Model.Book.BookGenres)
                {
                    @bookGenre.Genre.Name
                    <span>&nbsp;</span>
                }

            </h5>
            <h5><strong>Series: </strong> @Model.Book.Series.Name</h5>

            <div class="price-book">
                <p class="pr">Price:  </p>
                <p class="price">  @(string.Format("{0:0,00#} VNĐ", Model.Book.Discount)) <span>@(string.Format("{0:0,00#} VNĐ", Model.Book.Price))</span></p>
            </div>
            <div class="rating">
                <span>
                    @Model.Book.Quantity in Stock (Can be backordered)
                </span>
            </div>
            <div class="product-actions">
                <input type="number" id="quantity" name="quantity" value="1" min="1" max=@Model.Book.Quantity>
                <button class="add-to-cart  btnAddToCart" data-bookID="@(Model.Book.ID)">ADD TO CART</button>
                <button class="add-to-wishlist">♡ ADD TO WISHLIST</button>
            </div>


        </div>
    </section>
    <section class="description">
        <h2><strong>Description</strong></h2>
        <div class="description-content">
            @Html.Raw(Model.Book.Synopsis)
        </div>
    </section>
    <div class="review-container">
        <h3>Your rating</h3>
        <div class="rating-stars" id="rating-stars">
            <span class="rating-star">&#9733;</span>
            <span class="rating-star">&#9733;</span>
            <span class="rating-star">&#9733;</span>
            <span class="rating-star">&#9733;</span>
            <span class="rating-star">&#9733;</span>

        </div>
        <div class="review-text">
            <label for="review-text">Your review *</label>
            <textarea id="review-text" name="review-text" required></textarea>
        </div>
        <button class="submit-button">Submit</button>
    </div>
</div>
@section scripts {
    <script src="/js/home.js"></script>
    <script>
        $(document).ready(function () {
            $(".btnAddToCart").each(function () {
                $(this).on("click", function () {
                    const _this = this;
                    $(_this).html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...`).prop("disabled", true);
                    if (!getAuthenticated()) {
                        $("#modalLogin").modal("show");
                    } else {
                        const bookID = $(_this).attr("data-bookID");
                        handleAjax("/Cart/AddToCartAPI", { req: { BookID: bookID } }, (res) => {
                            if (res.success) {
                                toastr.success(res.message);
                                const count = getCountCartAPI();
                                $("#spanCartItemCount").text(count);
                            } else {
                                toastr.error(res.message);
                            }
                        });
                    }
                    setTimeout(() => {
                        $(_this).html(`ADD TO CART`).prop("disabled", false);
                    }, 100)
                });
            });

        });
    </script>
}
